.section-title {
    display: flex;
    padding-top: 5.5rem;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
}

.section-subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5rem;
    justify-self: center;
    width: 350px;
    height: 350px;
}

.about-container {
    display: flex;
    padding-top: 4rem;
    column-gap: 2rem;
    align-items: center;
    column-gap: 5rem;
    justify-content: start;
}

.about-box {
    background: #fff;
    border: 1px solid black;
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 2em;
}