@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


body {
    background: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

ul {
    list-style: none;
}


h2 {
    text-align: center;
}

p {
    text-align: center;
    color: #0E2430;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-block;
    background-color: #fff;
}

