body {
    background: #343a40;
}

h2 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

button,
input,
textarea {
    font-family: 30px;
    font-size: 60px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:black;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-block;
    background-color: #fff;
}